doctype html
html(lang="en")
  head
    title="Zap Server"
    link(rel="stylesheet" type="text/css" href="/static/css/main.css")
    script(src="/static/js/axios.min.js")
    script(src="/static/js/socket.io.js")
  body
    div.screen#game-screen(class=!game_on && 'screen_hidden')
      div.deck-container
          
    div.screen.join-screen#join-screen(class=game_on && 'screen_hidden')
      div.screen__container
        h1 Zap.
        p Here are gamers already in the game. Join into game by pressing button.
        div.player-list#player-list
          each val in game_players
            div.player-list__cell= val
        button.button#join-button(class=user_joined && 'button_hidden') Join
    
    div#modal-container.modal-container.modal-container_hidden
      div.modal-container__shadow
      div#join-modal.modal.modal_hidden
        h2.modal__title Name?
        input#register-name-field.modal__text-input(type="text")
        input#register-button.button.modal__submit(type="submit" value="Ok")
          
  
    script(src="/static/js/join-modal.js")
