doctype html
html(lang="en")
  head
    title="Zap Server"
    link(rel="stylesheet" type="text/css" href="/static/css/main.css")
  body
    if game_on
      div.screen#game-screen
    else
      div.screen.screen_hidden#game-screen
      
        
        
    if game_on
      div.screen.screen_hidden.join-screen#join-screen
    else
      div.screen.join-screen#join-screen
      
        div.screen__container
          h1 Zap.
          p "Here's gamers already in the game. Join into game by pressing button."
          div.player-list
            div.player-list__cell
            div.player-list__cell
            div.player-list__cell
          button.button#join-button Join
    
    div.modal-container.modal-container_hidden
      div.modal-container__shadow
      div.modal.modal_hidden
        h2.modal__title Name?
        input.modal__text-input(type='text')
        input.button.modal__submit(type='submit' value="Ok")
        
