doctype html
html(lang="en")
  head
    title="Zap Server"
    link(rel="stylesheet" type="text/css" href="/static/css/main.css")
  body
    div.screen#join-screen
      h1 Join.
    div.screen#game-screen
      h1 Game.
    
    
  
        
