body {
  background-color: #006699;
  color: #FFFFFF;
  font-family: monospace;
  margin: 0;
  text-shadow: 0 0 4px #000000; }

.screen {
  display: block;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0; }

.screen_hidden {
  display: none; }
