html {
  font-size: 2.5vmin; }

body {
  background-color: #006699;
  color: #FFFFFF;
  font-family: monospace;
  margin: 0;
  text-shadow: 0 0 4px #000000; }

h1 {
  color: #FFFFFF;
  font-family: monospace;
  font-size: 6vmin;
  line-height: 150%;
  margin: 0; }

h2 {
  color: #FFFFFF;
  font-family: monospace;
  font-size: 4vmin;
  line-height: 150%;
  margin: 0; }

.screen {
  display: block;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0; }

.screen_hidden {
  display: none; }

.screen__container {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%); }

.player-list {
  border: 1px solid #000000;
  border-radius: 0.5rem;
  overflow: hidden;
  width: 100%; }

.player-list__cell {
  background-color: #1C526D;
  border-top: 1px solid #30424B;
  height: 3rem; }
  .player-list__cell:first-of-type {
    border: 0; }

.button {
  background-color: #D94720;
  border-radius: 0.5rem;
  border: 1px solid #FFFFFF;
  box-shadow: 0 0 10px #000000;
  color: #FFFFFF;
  font-size: 2.5vmin;
  font-weight: bold;
  margin: 1rem 0 0;
  text-transform: uppercase;
  padding: 0.5rem 1.25rem; }

.modal-container {
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0; }

.modal-container_hidden {
  display: none; }

.modal-container__shadow {
  background-color: #000000;
  opacity: 0.8;
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0; }

.modal {
  background-color: #006699;
  border-radius: 1rem;
  box-shadow: 0 0 50px #000000;
  padding: 2rem;
  position: absolute;
  left: 50%;
  text-align: center;
  top: 50%;
  transform: translate(-50%, -50%); }

.modal_hidden {
  display: none; }

.modal__text-input {
  display: block;
  margin: 1rem 0 0;
  background-color: #FFFFFF;
  border-radius: 0.5rem;
  border: 0;
  box-shadow: 0 0 10px #000000;
  color: #000000;
  font-size: 2.5vmin;
  padding: 0.5rem 1.25rem; }

.modal__submit {
  display: block;
  margin: 1rem auto 0; }

.join-screen {
  text-align: center; }
