.modal-container {
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
}

.modal-container_hidden {
  display: none;
}

.modal-container__shadow {
  background-color: $color__black;
  opacity: 0.8;
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
}
