$font_default: (
  color: $color__white,
  family: monospace,
  size: 2.5vmin,
  line-height: 150%
);

$font_h1: (
  color: $color__white,
  family: monospace,
  size: 6vmin,
  line-height: 150%
);

$font_h2: (
  color: $color__white,
  family: monospace,
  size: 4vmin,
  line-height: 150%
);
